@model List<EFApp.MVC.Models.EmployeesView>

@{
    ViewBag.Title = "Employee";
}

<main>
    <section class="row jumbotron" aria-labelledby="aspnetTitle">
        <h1 id="title">Empleados <a href="@Url.Action("CreateUpdate", "Employee")" class="btn btn-success" title="Crear Empleado"><i class="fa fa-plus" aria-hidden="true"></i></a></h1>
        
        <p class="lead">Lista completa de empleados.</p>
    </section>

    <div class="row">
        <section class="col-12" aria-labelledby="gettingStartedTitle">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col" colspan="3">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model)
                    {
                        <tr>
                            <th scope="row">@employee.EmployeeID</th>
                            <td>@employee.LastName</td>
                            <td>@employee.FirstName</td>
                            <td>@employee.HomePhone</td>
                            <td>
                                <a href="@Url.Action("CreateUpdate", "Employee", new { id = employee.EmployeeID })" class="btn btn-primary" title="Editar Empleado"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            </td>
                            <td>
                                <button data-id="@employee.EmployeeID" type="button" class="btn btn-danger btn-delete" title="Eliminar Empleado"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
</main>

@section scripts
{
    <script>
        $(function () {
            $('.btn-delete').click(function () {
                const id = $(this).data("id");
                swal({
                    title: 'Confirmar',
                    text: "¿Estás seguro que desea el eliminar el perfil del empleado?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '¡Si, eliminar!'
                }, function (result) {
                    if (result) {

                        const url = "@Url.Action("Delete", "Employee")";
                        const data = {
                            id: id
                        };

                        $.post(url, data).done(function (data) {
                            swal({
                                title: "Exito!",
                                text: "Eliminaste el perfil del empleado",
                                icon: "success",   
                                button: false,
                            });
                            setTimeout(() => {                                
                                location.reload();
                            }, "2000");                           
                        }).fail(function (err) {
                            swal(
                                '¡Error!',
                                err.responseText,
                                'error'
                            );
                        });
                    }
                })
            });
        });
    </script>
}
